.prompt-dialog {
  padding: 10px;
  .ms-Dialog-title {
    padding-bottom: 5px;
  }

  .ms-Dialog-subText {
    margin-bottom: 15px;
  }

  .ms-TextField {
    width: 300px;
    padding-bottom: 5px;
  }
}
